---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';

type experienceType = {
  company: string;
  contract?: boolean;
  url?: string;
  title: string;
  start: string;
  end: string;
  location: string;
};

const experience: experienceType[] = [
  {
    company: 'Freelance',
    title: 'Front End Web + 3D Web Developer',
    start: 'Sept 2025',
    end: 'Present',
    location: 'Los Angeles, CA',
  },
  {
    company: 'BP',
    url: 'https://www.bp.com/',
    title: 'Senior Design Engineer',
    start: 'May 2020',
    end: 'Aug 2025',
    location: 'Los Angeles, CA',
  },
  {
    company: 'Object Edge',
    contract: true,
    url: 'https://www.objectedge.com/',
    title: 'Front End Web + 3D Web Developer',
    start: 'Feb 2019',
    end: 'Jan 2020',
    location: 'Los Angeles, CA',
  },
  {
    company: 'WITHIN',
    url: 'https://www.with.in/',
    title: 'WebVR Software Engineer',
    start: 'Nov 2015',
    end: 'Aug 2018',
    location: 'Los Angeles, CA',
  },
  {
    company: 'Slingshot',
    url: 'https://www.slingshot.com/',
    title: 'Front End Web Developer',
    start: 'Mar 2013',
    end: 'Nov 2015',
    location: 'Dallas, TX',
  },
  {
    company: 'TRG / Click Here Labs',
    url: 'https://clickherelabs.com/',
    title: 'Front End Web Developer',
    start: 'Mar 2012',
    end: 'Mar 2013',
    location: 'Dallas, TX',
  },
];
---

<BaseLayout title="Resume">
  <div class="mb-11 flex flex-wrap items-center gap-6">
    <h1 class="mb-0 text-3xl font-light dark:text-white">Resume</h1>
    <div>
      <a
        class="inline-flex items-center rounded border border-current px-3 py-1 text-center
          text-[13px] text-indigo-700 transition-colors hover:border-indigo-700 hover:bg-indigo-700
          hover:text-white dark:border-neutral-500 dark:text-neutral-300
          dark:hover:border-neutral-200 dark:hover:bg-transparent dark:hover:text-white"
        href="/David-Lyons-Resume-2025.pdf"
        title="Download David Lyons Resume PDF"
        download
      >
        <Icon name="download" class="-ms-0.5 me-2 size-3.5 shrink-0" />
        Download PDF
      </a>
    </div>
  </div>

  <div class="resume">
    <div class="mb-5 grid lg:grid-cols-12">
      <div class="mb-14 lg:col-span-4 lg:mb-0">
        <div class="grid grid-cols-2 gap-3 gap-y-9">
          <div>
            <h2 class="mb-3">Languages</h2>
            <ul class="mb-9 list-none">
              <li><Icon name="devicon:javascript" />JavaScript, ES6+</li>
              <li><Icon name="devicon:html5" />HTML</li>
              <li><Icon name="devicon:css3" />CSS</li>
              <li><Icon name="skill-icons:sass" />SCSS</li>
              <li><Icon name="skill-icons:typescript" />TypeScript</li>
              <li><Icon name="file-icons:terminal" />Command Line</li>
            </ul>

            <h2 class="mb-3">Skills</h2>
            <ul class="list-none">
              <li>Front End Web Dev</li>
              <li>Responsive Web Design</li>
              <li>Photo Editing</li>
              <li>Video Editing</li>
              <li>Graphic Design</li>
              <li>Interaction Design</li>
              <li>Vector Math</li>
              <li>3D Modeling</li>
              <li>Digital Sculpting</li>
              <li>Retopology</li>
              <li>UV Layout</li>
              <li>3D Printing</li>
            </ul>
          </div>
          <div>
            <h2 class="mb-3">Tools</h2>
            <ul class="list-none">
              <li><Icon name="tags/threejs" />Three.js</li>
              <li><Icon name="devicon:react" />React</li>
              <li><Icon name="devicon:tailwindcss" />Tailwind</li>
              <li><Icon name="vscode-icons:file-type-shadcn" />shadcn/ui</li>
              <li><Icon name="skill-icons:bootstrap" />Bootstrap</li>
              <li><Icon name="devicon:nextjs" />Next.js</li>
              <li>
                <Icon name="vscode-icons:file-type-astro" class="hidden dark:inline" /><Icon
                  name="devicon:astro"
                  class="dark:hidden"
                />Astro
              </li>
              <li><Icon name="devicon:vitejs" />Vite</li>
              <li><Icon name="skill-icons:webpack-dark" />Webpack</li>
              <li><Icon name="devicon:vscode" />Visual Studio Code</li>
              <li><Icon name="devicon:chrome" />Chrome DevTools</li>
              <li><Icon name="devicon:nodejs" />Node.js</li>
              <li><Icon name="devicon:npm" />npm</li>
              <li><Icon name="devicon:git" />Git</li>
              <!-- <li><Icon name="skill-icons:gatsby" />Gatsby</li> -->
              <li><Icon name="vscode-icons:file-type-storybook" />Storybook</li>
              <li><Icon name="tags/svg-logo" />SVG</li>
              <li><Icon name="skill-icons:illustrator" />Illustrator</li>
              <li><Icon name="skill-icons:photoshop" />Photoshop</li>
              <li><Icon name="skill-icons:premiere" />Premiere</li>
              <li><Icon name="devicon:maya" />Maya</li>
              <li><Icon name="file-icons:zbrush" />ZBrush</li>
              <li><Icon name="tags/blender" />Blender</li>
              <!-- <li><Icon name="tags/resolume" />Resolume</li> -->
            </ul>
          </div>
          <div class="col-span-2">
            <h2 class="mb-3">Currently Learning</h2>
            <ul class="list-none">
              <li><Icon name="devicon:react" /> React Three Fiber</li>
              <li><Icon name="devicon:webgpu" />GLSL, TSL Shaders</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="lg:col-span-7 lg:col-start-6">
        <h2 class="mb-5">Work Experience</h2>

        <div class="mb-12 space-y-5">
          {
            experience.map(({ company, url, contract, title, start, end, location }) => (
              <div>
                <div class="font-medium">
                  {url ? (
                    <a href={url} target="_blank" rel="noreferrer">
                      {company}
                    </a>
                  ) : (
                    company
                  )}
                  {contract && <span class="opacity-60">• Contract</span>}
                </div>
                <div>{title}</div>
                <div class="text-sm font-light opacity-60">{`${start} – ${end} • ${location}`}</div>
              </div>
            ))
          }
        </div>

        <h2 class="mb-5">Education</h2>

        <div class="mb-5">
          <div class="font-medium">Texas A&M University</div>
          <div>
            Bachelor of Science in <a
              href="https://pvfa.tamu.edu/academics/disciplines/visualization/"
              target="_blank"
              rel="noreferrer"
              class="font-medium"
            >
              Visualization
            </a>
            <Icon name="diploma" class="mx-1" />
            Dec 2010
          </div>
          <div class="text-sm font-light opacity-60">
            Fall 2007 - Fall 2010 • College Station, TX
          </div>
        </div>

        <div>
          <div class="font-medium">The University of Texas at Dallas</div>
          <div class="text-sm font-light dark:text-neutral-300/60">
            Spring 2010 semester in <a
              href="https://bass.utdallas.edu/programs/animation-games/"
              target="_blank"
              rel="noreferrer"
            >
              Arts and Technology
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  @reference "../styles/base.css";

  h2 {
    @apply tracking-widest uppercase;
  }

  .list-none {
    li {
      @apply flex items-center dark:text-white/60;

      svg {
        @apply me-2 shrink-0;
      }
    }
  }
</style>
