---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';

const { title, description = SITE_DESCRIPTION, image } = Astro.props;

const finalTitle = title ? `${title} | ${SITE_TITLE}` : `${SITE_TITLE}`;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={finalTitle} description={description} image={image} />
  </head>
  <body class="dark:bg-neutral-900 dark:text-neutral-300">
    <Header />
    <section class="bg-neutral-100 dark:bg-neutral-800">
      <div class="py-12">
        <div class="container">
          <slot />
        </div>
      </div>
    </section>
    <Footer />
  </body>
</html>
