---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="grid-cols-10 gap-4 lg:grid">
    <div class="col-span-8 col-start-2">
      <div class="hero-image">
        {
          heroImage && (
            <img class="mb-4 w-full rounded-lg" width={1020} height={510} src={heroImage} alt="" />
          )
        }
      </div>
    </div>
  </div>
  <div class="grid-cols-10 gap-4 lg:grid">
    <div class="col-span-6 col-start-3">
      <div class="text-center">
        <div class="opacity-50">
          <FormattedDate date={pubDate} />
        </div>
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <h1 class="mb-8 border-b pb-6 text-4xl font-medium">{title}</h1>
      </div>
      <slot />
    </div>
  </div>
</BaseLayout>
