---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, cover, coverAlt } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="mx-auto max-w-screen-lg">
    <div class="hero-image">
      {
        cover && (
          <Image
            class="mb-4 aspect-2/1 w-full rounded-2xl object-cover"
            width={1984}
            height={992}
            src={cover}
            alt={coverAlt || ''}
            quality={90}
          />
        )
      }
    </div>
  </div>
  <div
    class="prose dark:prose-invert prose-headings:font-medium prose-th:text-left prose-a:text-blue-700
      prose-a:hover:text-blue-900 prose-a:decoration-blue-700/50 prose-a:dark:text-sky-400
      prose-a:dark:hover:text-sky-300 prose-a:underline prose-a:underline-offset-4
      prose-a:dark:decoration-sky-400/50 prose-a:hover:decoration-current prose-inline-code:rounded
      prose-inline-code:bg-neutral-900 prose-inline-code:before:content-none
      prose-inline-code:after:content-none prose-inline-code:py-0.5 prose-inline-code:px-1.5
      prose-inline-code:font-medium mx-auto"
  >
    <div class="text-center">
      <div class="mb-3">
        <div class="opacity-60">
          <FormattedDate date={pubDate} />
        </div>
        {
          updatedDate && (
            <div class="text-sm opacity-40">
              Last updated: <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1
        class="mb-11 border-b border-neutral-300 pb-8 text-5xl font-medium dark:border-neutral-700 dark:text-white"
      >
        {title}
      </h1>
    </div>
    <slot />
  </div>
</BaseLayout>
