---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="hero-image">
        {
          heroImage && (
            <img
              class="img-fluid rounded-4 mb-4"
              width={1020}
              height={510}
              src={heroImage}
              alt=""
            />
          )
        }
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="text-center">
        <div class="opacity-50">
          <FormattedDate date={pubDate} />
        </div>
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <h1 class="display-4 fw-medium pb-4 border-bottom mb-5">{title}</h1>
      </div>
      <slot />
    </div>
  </div>
</BaseLayout>
